[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KRONX"]
	path = KRONX
	url = https://github.com/cran/KRONX
[submodule "kronxNBC"]
	path = kronxNBC
	url = https://github.com/cran/kronxNBC
